# Data 612 - Project 2 : Content-Based and Collaborative Filtering

#### Team Info 
+ Christina Valore, 
+ Juliann McEachern, 
+ Rajwant Mishra

#### Date: June 18, 2019

## Overview

For assignment 2, start with an existing dataset of user-item ratings, such as our toy books dataset, MovieLens, Jester [http://eigentaste.berkeley.edu/dataset/] or another dataset of your choosing.  Implement at least two of these recommendation algorithms: 
* Content-Based Filtering 
* User-User Collaborative Filtering 
* Item-Item Collaborative Filtering 
 

As an example of implementing a Content-Based recommender, you could build item profiles for a subset of MovieLens movies from scraping http://www.imdb.com/ or using the API at https://www.omdbapi.com/ (which has very recently instituted a small monthly fee).  A more challenging method would be to pull movie summaries or reviews and apply tf-idf and/or topic modeling. You should evaluate and compare different approaches, using different algorithms, normalization techniques, similarity methods, neighborhood sizes, etc.  You don’t need to be exhaustive—these are just some suggested possibilities.   You may use the course text’s [recommenderlab](https://cran.r-project.org/web/packages/recommenderlab/vignettes/recommenderlab.pdf) or any other library that you want.   Please provide at least one graph, and a textual summary of your findings and recommendations.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#load data from local csv  into pandas dataframe
book_tags = pd.read_csv('https://raw.githubusercontent.com/jemceach/612-group/master/project-2/data/book_tags.csv')
tags = pd.read_csv('https://raw.githubusercontent.com/jemceach/612-group/master/project-2/data/tags.csv')
books = pd.read_csv('https://raw.githubusercontent.com/jemceach/612-group/master/project-2/data/books.csv')
ratings = pd.read_csv('ratings.csv')

In [3]:
books = books [['book_id','goodreads_book_id','authors','original_title', 'average_rating','ratings_count']]
books.head()

,book_id,goodreads_book_id,authors,original_title,average_rating,ratings_count
0,1,2767052,Suzanne Collins,The Hunger Games,4.34,4780653
1,2,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,4.44,4602479
2,3,41865,Stephenie Meyer,Twilight,3.57,3866839
3,4,2657,Harper Lee,To Kill a Mockingbird,4.25,3198671
4,5,4671,F. Scott Fitzgerald,The Great Gatsby,3.89,2683664

In [4]:
df6 = pd.merge(book_tags,tags)
df6.head()

   goodreads_book_id  tag_id   count tag_name
0                  1   30574  167697  to-read
1                  2   30574   24549  to-read
2                  3   30574  496107  to-read
3                  5   30574   11909  to-read
4                  6   30574     298  to-read

In [6]:
df7 = pd.merge(books,df6)
df7.head()

,book_id,goodreads_book_id,authors,original_title,average_rating,ratings_count,tag_id,count,tag_name
0,1,2767052,Suzanne Collins,The Hunger Games,4.34,4780653,30574,11314,to-read
1,1,2767052,Suzanne Collins,The Hunger Games,4.34,4780653,11305,10836,fantasy
2,1,2767052,Suzanne Collins,The Hunger Games,4.34,4780653,11557,50755,favorites
3,1,2767052,Suzanne Collins,The Hunger Games,4.34,4780653,8717,35418,currently-reading
4,1,2767052,Suzanne Collins,The Hunger Games,4.34,4780653,33114,25968,young-adult

In [7]:
ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [ ]:
df8 = pd.merge(df7,ratings)
df8.head()