#### Data 612 - Project 1<br>Christina Valore, Juliann McEachern, Rajwant Mishra<br>Due: June 11, 2019

# Global Baseline Predictors and RMSE

## Overview

In this first assignment, we'll attempt to predict ratings with very little information.  We'll first look at just raw averages across all (training dataset) users.  We'll then account for "bias" by normalizing across users and across items.   You'll be working with ratings in a user-item matrix, where each rating may be (1) assigned to a training dataset, (2) assigned to a test dataset, or (3) missing. 

Please code as much of your work as possible in R or Python.  You may use standard functions (e.g. from base R and the tidyverse).  Your project should be delivered in an R Markdown or a Jupyter notebook, then the notebook should be saved into a GitHub repository.  You should include a link to your GitHub repository in your assignment submission link. 

## Recommender System Data Selection

* Briefly describe the recommender system that you're going to build out from a business perspective, e.g. "This system recommends data science books to readers."
* Find a dataset, or build out your own toy dataset.  As a minimum requirement for complexity, please include numeric ratings for at least five users, across at least five items, with some missing data. 

## Data Preparation 

*  Load your data into (for example) an R or pandas dataframe, a Python dictionary or list of lists, (or another data structure of your choosing).  From there, create a user-item matrix. 
*  If you choose to work with a large dataset, you're encouraged to also create a small, relatively dense "user-item" matrix as a subset so that you can hand-verify your calculations.
*  Break your ratings into separate training and test datasets.

In [90]:
import pandas as pd
import numpy as np

#Import data from csv in github repository 
data = pd.read_csv('https://raw.githubusercontent.com/jemceach/612-group/master/project-1/Data/User%20_Mov%20.csv')

#view the imported data
data

,ID,Movie_ID,User_Name,Rating,Title,Content,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,1,1,TheTopDawgCritic,8,Better than expected!,"For a B-grade film, this was surprisingly bett...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,celestinoavilajr,8,Entertaining!,Good movie! Great plot! Edge of your seat twis...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,dave-mcclain,8,an expectedly good thriller,"Bad Samaritan"" R",151 is a thriller directed by actor-turned-pr...,"written by Brandon Boyce ""Wicker Park"" and st...",but this film is primarily an intricately plo...,a young man whose step-father brought him and...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,neener3707,7,"Done Before, But Not Too Bad, A Little Extra","Over all not too shabby, definitely better tha...",Im not sure what I want to say,because some of it was effective,and some of it wasnt. First of all,I like how they expanded on the typical story...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,krice23,8,Sold!,Original script. Believable cast. They make it...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,1,patrickc-76383,7,Impressive!,This movie takes you on an rollercoaster-like ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,1,george.schmidt,7,Decent suspense thriller with one box of craz,"BAD SAMARITAN 2018 1/2 David Tennant, Robert S...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,1,godsgirlfrombluford,9,Edge of your seat romp that keeps the viewer,Bad Samaritan is an edge of your seat romp tha...,lacking any conscience for the things he does...,taken and kept against her will.I felt for Se...,trying to save Katie. His desperation on-scre...,I wanted to jump through the screen and help ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,1,claudio_carvalho,8,Surprisingly Great Thriller,"In Portland, the amateurish photographer Sean ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,1,Stars-and-popcorn,6,Bad Samaritan Plays it too Safe,Bad Samaritan is a movie that Ive been looking...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,1,Platypuschow,7,Bad Samaritan Not half bad,David Tennant stars as the movies antagonist i...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,1,pinemaples,8,An unexpected thrill.,I didnt expect much of a movie with a name lik...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,1,vhinzajhltb,9,Had to sign up to make a Rating and Review!,This movie was unexpectedly amazed me. It just...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,1,rgkarim,7,A Samaritan to the Crime Drama Formula,"With the success of the Avengers last weekend,...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,1,ThomasDrufke,7,Great B-Movie,Bad Samaritan is a film that I simply did not ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,1,terry_z,10,LOVED this movie!!!,"Production was outstanding, story was outstand...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,1,foutainoflife,8,I Got So Much More Than I Expected!!,This movie really surprised me.This is about a...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,1,broncosdudex,9,Loved it.,Went to see it when I first came out because I...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,1,bdwyphil,10,WOW!,"As my wife abhors any form of violence, I norm...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,1,stevendbeard,7,Nice little Thriller,"I saw Bad Samaritan""",starring David Tennant-Jessica Jones_tv,Doctor Who_tv; Robert Sheehan-Geostorm,The Mortal InstrumentsCity of Bones; Carlito ...,Blood Heist and Kerry Condon-Three Billboards...,...,chained to a chair,with a gag in her mouth and signs of being be...,what to do. Robert tries to set her loose but...,"\n21,1,cmharelson-62160,6,An enjoyable and com...","For the most part, this film was well shot, ve...",NaN,NaN,NaN,NaN,NaN
20,22,1,carloenrico-salvadori,3,You are beyond correction,This is a total letdown. It has the pace and c...,full of clichÃ¨s like the psycho rich billion...,who is so unhinged that his catch phrases bec...,or the clumsy hero that has become a sort of ...,exemplified in contrast by the bravado of the...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,23,1,spilledinkcinema,7,"Great Acting, So-So Story","Im a fan of David Tennant, so I cant complain,...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,24,1,no-lolita-683-244070,10,MUCH BETTER THAN EXPECTED!,After browsing a few reviews by both critics a...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,25,1,natcalgary,7,A pleasant surprise,"I didnt expect much from this but I was deff, ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,26,2,kjames-26542,10,Unlike anything ever done in the history of c,This movie is the beginning of the culmination...,so expanded,and encompassed so many story lines/character...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,27,2,shawneofthedead,10,This movie will blow your mind and break your,"Over the past decade, Marvel has earned itself...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,28,2,kevintgeisler,9,Excellent Film,I was amazed to see so many negative reviews; ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,29,2,garethvk,10,A Summer Film That IS Even Better Than The Hy,Summer movies often hype themselves as spectac...,"""spectacle""","and ""smash"" as ways to build the hype to incr...",embarks on a deadly campaign to find and poss...,he leaves a path of death and destruction in ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,30,2,blparker-31738,10,The amount of people that dont understand the,All the reviews that say this movie has no plo...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,31,2,mto10,10,Epic conclusion to Marvels first 10 years,"I absolutely loved this movie. It was intense,...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,659,5,dezriknightangel,2,Entertaining Until You Think About It,At first viewing the Incredibles 2 was on par ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,660,5,donumdei,6,We get it Woman are better than man,"Mannn, Im sick and tired of this feminism bs. ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,661,5,chcsola,2,Such a bore - I actually fell asleep!,"Wow, just do yourself a favor a skip this one....",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660,662,5,tk-76190,3,I almost fell asleep.,Having seen the original ground breaking movie...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
661,663,5,corpse_man,2,Another movie ruined by radical feminism.,"First of all, this movie is nothing but a gian...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,664,6,silvaback-13517,10,This old Marines thoughts,I did not want to watch this movie but took my...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663,665,6,ventourisspyros-68672,10,A Star Is Born,"A magnificent movie, captivating performances ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664,666,6,nancyldraper,7,This was a good movie but not a great movie,This was a good movie but not a great movie th...,and would add them to my library without hesi...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665,667,6,johngiovannicorda,8,The Lady Is A Star,This is the 4th version of A Star Is Born Ive ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,668,6,superdupersentinel,6,Is it a good film? Yes. Oscar material? No.,Let me start by saying that the performances a...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,669,6,michaeljohnson-27597,9,A Star is Born Shines TIFF 2018,"If youre even a casual moviegoer, chances are ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,670,6,mikeschmidt-75136,4,dont understand these reviews,Im a little lost on how this movie is getting ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,671,6,nkbtw,10,An instant classic!,Bradley cooper and Lady Gaga collaboration on ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,672,6,Ed-Shullivan,4,A Star Is Bored,I am more than just a bit surprised how many o...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,673,6,charlesponchon,5,Overated,Only went because the average rating on IMDb w...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
672,674,6,martimusross,4,Unconvincing As A Love Story,The very heart of this movie is the love story...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
673,675,6,mrsdoyle_2005,4,Surprised at high reviews,I was looking forward to this due to the high ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
674,676,6,rquku,1,"Boring, predictive, repetitive...","Lady Gaga can sing, but i can not say therefor...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675,677,6,Harrymiller1215,8,Awesome debut for Coopers direction and Gagas,It will be nominated for several Oscars and wi...,lets just appreciate and enjoy this amazing w...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
676,678,6,themadmovieman,7,"Starts in exhilarating fashion, although lose","Its a story as old as time, and thats evident ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
677,679,6,athens-24109,10,Best movie of the year,"This movie really touched my heart, it really ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,680,6,peter-nichta-564-860549,2,no stars were born during this movie,Gaga is one of the best voices there is but th...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
679,681,6,josh_henry80,1,A Star is bored,"It was well acted, directed, and the music was...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
680,682,6,mitchelllim,10,Amazing effort for Coopers directorial debut,"Poised to be an instant classic, almost everyt...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
681,683,6,sissyneck23,2,Average,Its watchable. Sorry but its just not as good ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
682,684,6,bob-the-movie-man,4,Dullsville Arizona.,This story has been filmed three times before ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683,685,6,lorriejinx,1,A ONE STAR IS BORN !,This film has little emotional feel to it. You...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
684,686,6,plargreg,1,over rated emotional garbage,Is purposefully unintelligently heavy handed s...,"bad just very very bad""",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
685,687,6,luke-solly,1,Cant understand how this film is getting such,This movie is just plain bad. There must be so...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
686,688,6,viraltux,4,The best part of the movie is when I had to g,Unfortunately we dont have a reliable way to t...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
#remove unnecessary columns, including blank columns
data=data.drop(data.columns.to_series()[4:25], axis=1)

#create small subset of the data for manual calculations, 5 rows to be exact
subst=data.iloc[:5,:]

#split the dataframe into training and test dataframes from rows 1-250 and from 250-687
train=data.iloc[:250, :]
test=data.iloc[250:, :]
train.head()

   ID  Movie_ID         User_Name  Rating
0   1         1  TheTopDawgCritic       8
1   2         1  celestinoavilajr       8
2   3         1      dave-mcclain       8
3   4         1        neener3707       7
4   5         1           krice23       8

In [92]:
test.head()

      ID  Movie_ID         User_Name  Rating
250  252        11       gbill-74877       8
251  253        11           atlasmb       8
252  254        11  steve-552-934420       1
253  255        11        dfranzen70       8
254  256        11          poetschn       5

In [93]:
#view the subsetted data
subst

   ID  Movie_ID         User_Name  Rating
0   1         1  TheTopDawgCritic       8
1   2         1  celestinoavilajr       8
2   3         1      dave-mcclain       8
3   4         1        neener3707       7
4   5         1           krice23       8

In [94]:
#view the end of the train data
train.tail()

      ID  Movie_ID       User_Name  Rating
245  247        11           zofos       5
246  248        11         radivel       9
247  249        11      Spikeopath       9
248  250        11  blackmambamark       8
249  251        11  kellyfacebook1       5

In [95]:
#view the end of the test data
test.tail()

      ID  Movie_ID          User_Name  Rating
682  684         6  bob-the-movie-man       4
683  685         6         lorriejinx       1
684  686         6           plargreg       1
685  687         6         luke-solly       1
686  688         6           viraltux       4

## RSME 
*  Using your training data, calculate the raw average (mean) rating for every user-item combination. 
*  Calculate the RMSE for raw average for both your training data and your test data.
*  Using your training data, calculate the bias for each user and each item.
*  From the raw average, and the appropriate user and item biases, calculate the baseline predictors for every user-item combination. 
*  Calculate the RMSE for the baseline predictors for both your training data and your test data.

## Summary 
*  Summarize your results

In [96]:
train.columns

Index(['ID', 'Movie_ID', 'User_Name', 'Rating'], dtype='object')

In [145]:
train = train[['Movie_ID', 'User_Name', 'Rating']]

In [97]:
# train['User_Name'].unique
# train['User_Name'].nunique

* Normalize the score .by create User Item rating matrix

In [146]:
df_matrix_item = pd.pivot_table(train, values='Rating', index='User_Name', columns='Movie_ID')
df_matrix_item.head()

Movie_ID           1   2     3   4    5   6     7   8   9     10   11
User_Name
3xHCCH            NaN NaN   NaN NaN  NaN NaN  10.0 NaN NaN   NaN  NaN
AirBourne_Bds     NaN NaN   NaN NaN  NaN NaN   NaN NaN NaN  10.0  NaN
Ajk2386           NaN NaN   NaN NaN  6.0 NaN   NaN NaN NaN   NaN  NaN
AnonymousMouseMan NaN NaN  10.0 NaN  NaN NaN   NaN NaN NaN   NaN  NaN
Apemangalore      NaN NaN   NaN NaN  NaN NaN   NaN NaN NaN   NaN  9.0

In [147]:
# df_matrix_item.to_excel('test.xlsx') 
df_matrix_item.mean().head()

Movie_ID
1    7.708333
2    8.280000
3    7.208333
4    5.200000
5    3.560000
dtype: float64

In [149]:
train.head(10)

   Movie_ID            User_Name  Rating
0         1     TheTopDawgCritic       8
1         1     celestinoavilajr       8
2         1         dave-mcclain       8
3         1           neener3707       7
4         1              krice23       8
5         1       patrickc-76383       7
6         1       george.schmidt       7
7         1  godsgirlfrombluford       9
8         1     claudio_carvalho       8
9         1    Stars-and-popcorn       6

In [190]:
Mov_Mean = train.groupby(['Movie_ID']).mean().rename(columns={'Rating':'Mov_Mean_Rating'})
Mov_Mean.head()

          User_Name  Rating
Movie_ID
1                24      24
2                25      25
3                24      24
4                25      25
5                25      25
6                25      25
7                24      24
8                19      19
9                24      24
10               21      21
11               14      14

In [223]:
Usr_Rate_Info = train[['User_Name','Rating']].groupby(['User_Name']).mean().rename(columns={'Rating':'Usr_Mean_Rating'})

Usr_Rate_Info.head()

# Count the number of rating given by User 
Usr_Rate_Info = train[['User_Name','Rating']].groupby(['User_Name']).count().rename(columns={'Rating':'Usr_Rate_Count'})

# Same this in One Line 
# Calculating the Mean of user's rating and count the numbner of movies a user has rated.

Usr_Rate_Info = train[['User_Name','Rating']].groupby(['User_Name']).agg({'Rating':{ 'mean',  'min'}, 
                                                          'User_Name':{'count'}}).rename(columns={'min':'Usr_Min_Rating',
                                                                                                  'count':'Usr_Rate_Count',
                                                                                                  'mean' : 'Usr_Mean_Rating'})
Usr_Rate_Info.head()

                           Rating                     User_Name
                  Usr_Mean_Rating Usr_Min_Rating Usr_Rate_Count
User_Name
3xHCCH                       10.0             10              1
AirBourne_Bds                10.0             10              1
Ajk2386                       6.0              6              1
AnonymousMouseMan            10.0             10              1
Apemangalore                  9.0              9              1

In [224]:
# Using drop level to get the dataframe 
Usr_Rate_Info.columns = Usr_Rate_Info.columns.droplevel(0)
Usr_Rate_Info.head()

                   Usr_Mean_Rating  Usr_Min_Rating  Usr_Rate_Count
User_Name
3xHCCH                        10.0              10               1
AirBourne_Bds                 10.0              10               1
Ajk2386                        6.0               6               1
AnonymousMouseMan             10.0              10               1
Apemangalore                   9.0               9               1

In [232]:
# Merge the User Rating Mean and count info from Usr_
trainb = pd.merge(train,Usr_Rate_Info,on='User_Name')
trainb.head(16)

,Movie_ID,User_Name,Rating,Usr_Mean_Rating,Usr_Min_Rating,Usr_Rate_Count
0,1,TheTopDawgCritic,8,8.0,8,3
1,3,TheTopDawgCritic,8,8.0,8,3
2,4,TheTopDawgCritic,8,8.0,8,3
3,1,celestinoavilajr,8,8.0,8,1
4,1,dave-mcclain,8,8.0,8,1
5,1,neener3707,7,5.0,3,2
6,4,neener3707,3,5.0,3,2
7,1,krice23,8,8.0,8,1
8,1,patrickc-76383,7,7.0,7,1
9,1,george.schmidt,7,7.0,7,1
10,1,godsgirlfrombluford,9,9.0,9,1
11,1,claudio_carvalho,8,5.0,1,5
12,3,claudio_carvalho,6,5.0,1,5
13,4,claudio_carvalho,3,5.0,1,5
14,7,claudio_carvalho,7,5.0,1,5
15,10,claudio_carvalho,1,5.0,1,5

In [233]:
trainb = pd.merge(trainb,Mov_Mean,on='Movie_ID')
trainb.head(15)

,Movie_ID,User_Name,Rating,Usr_Mean_Rating,Usr_Min_Rating,Usr_Rate_Count,Mov_Mean_Rating
0,1,TheTopDawgCritic,8,8.000000,8,3,7.708333
1,1,celestinoavilajr,8,8.000000,8,1,7.708333
2,1,dave-mcclain,8,8.000000,8,1,7.708333
3,1,neener3707,7,5.000000,3,2,7.708333
4,1,krice23,8,8.000000,8,1,7.708333
5,1,patrickc-76383,7,7.000000,7,1,7.708333
6,1,george.schmidt,7,7.000000,7,1,7.708333
7,1,godsgirlfrombluford,9,9.000000,9,1,7.708333
8,1,claudio_carvalho,8,5.000000,1,5,7.708333
9,1,Stars-and-popcorn,6,6.000000,6,1,7.708333
10,1,Platypuschow,7,7.333333,6,3,7.708333
11,1,pinemaples,8,8.000000,8,1,7.708333
12,1,vhinzajhltb,9,9.000000,9,1,7.708333
13,1,rgkarim,7,7.000000,7,1,7.708333
14,1,ThomasDrufke,7,7.000000,7,1,7.708333

In [274]:
# # user -Item utility Matrix
df_User_Mov = pd.pivot_table(trainb, values='Rating', index='User_Name', columns='Movie_ID',fill_value="-")
df_User_Mov.head(50)
# trainb = trainb.reindex(df_pivot['Movie_ID'].sort_values(by=['Usr_Rate_Count'],ascending=False).index)

# #Soritng Output by Rating Count in Descending order
Check_Trainb = trainb.sort_values(by=['Usr_Rate_Count'],ascending=False)
trainb[(trainb.Usr_Rate_Count > 2)]
pd.pivot_table(trainb[(trainb.Usr_Rate_Count > 1)], values='Rating', index='User_Name', columns='Movie_ID',fill_value="-")

Movie_ID         1  2  3  4  7  8  9  10 11
User_Name
Lady_Targaryen    -  -  -  -  -  9  7  -  -
Platypuschow      7  9  6  -  -  -  -  -  -
TheTopDawgCritic  8  -  8  8  -  -  -  -  -
claudio_carvalho  8  -  6  3  7  -  -  1  -
neener3707        7  -  -  3  -  -  -  -  -
the-movie-guy     -  -  -  -  8  -  -  -  7

In [275]:
pd.pivot_table(trainb[(trainb.Usr_Rate_Count > 1)], values='Usr_Mean_Rating', index='User_Name', columns='Movie_ID',fill_value="-")

Movie_ID               1        2        3  4    7  8  9  10   11
User_Name
Lady_Targaryen          -        -        -  -    -  8  8  -    -
Platypuschow      7.33333  7.33333  7.33333  -    -  -  -  -    -
TheTopDawgCritic        8        -        8  8    -  -  -  -    -
claudio_carvalho        5        -        5  5    5  -  -  5    -
neener3707              5        -        -  5    -  -  -  -    -
the-movie-guy           -        -        -  -  7.5  -  -  -  7.5

In [ ]:
#--------------------------------------------
calcaulte bias ..

# -------------------------------------------

In [188]:
# Calcualte the New rating based on Users Mean Rating 
# Lets assumae Usrs Mean is the rating of the movie and Calcuate the RMSE of the Train  data.
def rmse(y, y_pred):
    return np.sqrt(np.mean(np.square(y - y_pred)))

print ('RMSE for the Train data is : ', rmse(trainb.Rating,trainb.Usr_Mean_Rating))

RMSE for the Train data is :  0.443471156521669

Movie_ID,1,2,3,4,5,6,7,8,9,10,11
User_Name,,,,,,,,,,,
3xHCCH,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
AirBourne_Bds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN
Ajk2386,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
AnonymousMouseMan,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Apemangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
AshokePrabha,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN
BiiivAL,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Boba_Fett1138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
BrianWatchesMovies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN
Bruce654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
C22Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
CANpatbuck3664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
Chrysanthepop,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
Cinemadharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
Crazy_Cracker17,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DICK STEEL,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
Darth_Osmosis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN
Divergenssi,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ed-Shullivan,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
Ericwenzhe,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
Figgy66-915-598470,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GLPman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN
GirishGowda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
Hail_Martini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN
Harrymiller1215,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN
IsabelM11,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
JackieBlu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Jared_Andrews,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Joejoesan,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
KillerK1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...
saskCritic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN
shawneofthedead,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shveloo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN
silvaback-13517,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN
siriusly1986,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
slokes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN
smashattack,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
spilledinkcinema,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stangpt-72073,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stevendbeard,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
superdupersentinel,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN
svbeckman,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
terry_z,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
the-movie-guy,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,7.0
thekinggames,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
themadmovieman,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN
three_dead_crows,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tk-76190,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
travcycles,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
treebeard-44735,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trw-98462,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN
upashnafuentes,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vacantskies00,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ventourisspyros-68672,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN
vhinzajhltb,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
viraltux,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
vivekreddy-1,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
yellocar,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
ying_huang,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
zofos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

In [ ]:
pd.pivot_table(trainb, values='Rating', index='User_Name', columns='Movie_ID')

In [100]:
df_matrix_item.min().head()

Movie_ID
1    3.0
2    3.0
3    1.0
4    1.0
5    1.0
dtype: float64

In [101]:
df_matrix_item.transpose().min().head()

User_Name
3xHCCH               10.0
AirBourne_Bds        10.0
Ajk2386               6.0
AnonymousMouseMan    10.0
Apemangalore          9.0
dtype: float64

In [102]:
# Try normalizing rating by subtracting row mean 

(df_matrix_item - df_matrix_item.mean(axis=1)).head()
df_matrix_item.mean(axis=1)

User_Name
3xHCCH                   10.0
AirBourne_Bds            10.0
Ajk2386                   6.0
AnonymousMouseMan        10.0
Apemangalore              9.0
AshokePrabha              9.0
BiiivAL                   9.0
Boba_Fett1138             1.0
BrianWatchesMovies       10.0
Bruce654                  8.0
C22Man                    2.0
CANpatbuck3664           10.0
Chrysanthepop            10.0
Cinemadharma              8.0
Crazy_Cracker17          10.0
DICK STEEL               10.0
Darth_Osmosis            10.0
Divergenssi               3.0
Ed-Shullivan              4.0
Ericwenzhe               10.0
Figgy66-915-598470       10.0
GLPman                   10.0
GirishGowda               9.0
Hail_Martini             10.0
Harrymiller1215           7.0
IsabelM11                 1.0
JackieBlu                 1.0
Jared_Andrews             2.0
Joejoesan                 8.0
KillerK1991               8.0
                         ...
saskCritic               10.0
shawneofthedead          10.0
shveloo                  10.0
silvaback-13517          10.0
siriusly1986              9.0
slokes                   10.0
smashattack               8.0
spilledinkcinema          7.0
stangpt-72073             7.0
stevendbeard              7.0
superdupersentinel        6.0
svbeckman                 3.0
terry_z                  10.0
the-movie-guy             7.5
thekinggames              8.0
themadmovieman            7.0
three_dead_crows          8.0
tk-76190                  3.0
travcycles                2.0
treebeard-44735           6.0
trw-98462                 8.0
upashnafuentes            9.0
vacantskies00             5.0
ventourisspyros-68672    10.0
vhinzajhltb               9.0
viraltux                  4.0
vivekreddy-1             10.0
yellocar                 10.0
ying_huang               10.0
zofos                     5.0
Length: 239, dtype: float64

In [103]:
user_mran_rating = df_matrix_item.transpose().mean().transpose()
user_mran_rating.head()

User_Name
3xHCCH               10.0
AirBourne_Bds        10.0
Ajk2386               6.0
AnonymousMouseMan    10.0
Apemangalore          9.0
dtype: float64

In [104]:
df_matrix_item.loc['Platypuschow']

Movie_ID
1     7.0
2     9.0
3     6.0
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
Name: Platypuschow, dtype: float64

In [105]:
# Comput mean reating by user 
# df_matrix_item['Usr_Mean'] = df_matrix_item.mean(axis= 1)

In [109]:
# df_matrix_item.head()

df_matrix_item_norm = df_matrix_item.subA190015L (df_matrix_item.mean(axis=1), axis=0)

In [113]:
df_matrix_item_norm.head()

Movie_ID           1   2    3   4    5   6    7   8   9    10   11
User_Name
3xHCCH            NaN NaN  NaN NaN  NaN NaN  0.0 NaN NaN  NaN  NaN
AirBourne_Bds     NaN NaN  NaN NaN  NaN NaN  NaN NaN NaN  0.0  NaN
Ajk2386           NaN NaN  NaN NaN  0.0 NaN  NaN NaN NaN  NaN  NaN
AnonymousMouseMan NaN NaN  0.0 NaN  NaN NaN  NaN NaN NaN  NaN  NaN
Apemangalore      NaN NaN  NaN NaN  NaN NaN  NaN NaN NaN  NaN  0.0

In [119]:
df_matrix_item_norm.loc[['Lady_Targaryen','Platypuschow','TheTopDawgCritic',
'claudio_carvalho',
'neener3707',
'the-movie-guy']]

Movie_ID,1,2,3,4,5,6,7,8,9,10,11
User_Name,,,,,,,,,,,
Lady_Targaryen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,-1.0,NaN,NaN
Platypuschow,-0.333333,1.666667,-1.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TheTopDawgCritic,0.000000,NaN,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
claudio_carvalho,3.000000,NaN,1.000000,-2.0,NaN,NaN,2.0,NaN,NaN,-4.0,NaN
neener3707,2.000000,NaN,NaN,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
the-movie-guy,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,-0.5

In [ ]:
# To predict the rating we can use option 1 : Get the avg of all th rating for the given movie and set that a
# Avg rating = the rating of movie for the user whi has not yet watched the movie.

In [133]:
def rmse(y, y_pred):
    return np.sqrt(np.mean(np.square(y - y_pred)))

flattened = pd.DataFrame(df_matrix_item_norm.to_records())
flattened  = df_matrix_item_norm.reset_index()
flattened.head()

Movie_ID          User_Name   1   2    3   4    5   6    7   8   9   10   11
0                    3xHCCH NaN NaN  NaN NaN  NaN NaN  0.0 NaN NaN  NaN  NaN
1             AirBourne_Bds NaN NaN  NaN NaN  NaN NaN  NaN NaN NaN  0.0  NaN
2                   Ajk2386 NaN NaN  NaN NaN  0.0 NaN  NaN NaN NaN  NaN  NaN
3         AnonymousMouseMan NaN NaN  0.0 NaN  NaN NaN  NaN NaN NaN  NaN  NaN
4              Apemangalore NaN NaN  NaN NaN  NaN NaN  NaN NaN NaN  NaN  0.0

In [126]:
rmse(df_matrix_item_norm,df_matrix_item)

Movie_ID
1     7.688676
2     8.573862
3     7.788287
4     5.837808
5     4.368066
6     6.393747
7     9.267439
8     8.822817
9     8.633752
10    6.636838
11    8.089897
dtype: float64

In [122]:
from sklearn.metrics import mean_squared_error
from math import sqrt

# Function to calculate RMSE
def rmse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return sqrt(mean_squared_error(pred, actual))

In [184]:
# print('User-based CF RMSE: ' + str(rmse(df_matrix_item_norm, df_matrix_item_norm)))