#### Data 612 - Project 1<br>Christina Valore, Juliann McEachern, Rajwant Mishra<br>Due: June 11, 2019

# Global Baseline Predictors and RMSE

## Overview

In this first assignment, we'll attempt to predict ratings with very little information.  We'll first look at just raw averages across all (training dataset) users.  We'll then account for "bias" by normalizing across users and across items.   You'll be working with ratings in a user-item matrix, where each rating may be (1) assigned to a training dataset, (2) assigned to a test dataset, or (3) missing. 

Please code as much of your work as possible in R or Python.  You may use standard functions (e.g. from base R and the tidyverse).  Your project should be delivered in an R Markdown or a Jupyter notebook, then the notebook should be saved into a GitHub repository.  You should include a link to your GitHub repository in your assignment submission link. 

## Recommender System Data Selection

* Briefly describe the recommender system that you're going to build out from a business perspective, e.g. "This system recommends data science books to readers."
* Find a dataset, or build out your own toy dataset.  As a minimum requirement for complexity, please include numeric ratings for at least five users, across at least five items, with some missing data. 

## Data Preparation 

*  Load your data into (for example) an R or pandas dataframe, a Python dictionary or list of lists, (or another data structure of your choosing).  From there, create a user-item matrix. 
*  If you choose to work with a large dataset, you're encouraged to also create a small, relatively dense "user-item" matrix as a subset so that you can hand-verify your calculations.
*  Break your ratings into separate training and test datasets.

In [55]:
import pandas as pd
import numpy as np

df=pd.read_excel('Data/Rating_Matrix.xlsx')
df.tail()

,User,Bad Samaritan,Avengers: Infinity War,Rampage,Truth or Dare,Incredibles 2,A Star Is Born,(blank),Grand Total
141,ventourisspyros-68672,NaN,NaN,NaN,NaN,NaN,10.0,NaN,10.0
142,vhinzajhltb,9.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0
143,viraltux,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0
144,(blank),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Grand Total,184.0,170.0,197.0,110.0,111.0,133.0,NaN,905.0

In [56]:
print(df.shape)
print(df.describe())

(146, 9)
       Bad Samaritan  Avengers: Infinity War     Rampage  Truth or Dare  \
count      25.000000               25.000000   26.000000      26.000000
mean       14.720000               13.600000   15.153846       8.461538
std        35.291075               32.760495   37.183536      20.842708
min         4.000000                1.000000    1.000000       1.000000
25%         7.000000                4.000000    7.000000       2.250000
50%         8.000000                9.000000    9.000000       4.500000
75%         9.000000               10.000000   10.000000       7.000000
max       184.000000              170.000000  197.000000     110.000000

       Incredibles 2  A Star Is Born  (blank)  Grand Total
count      26.000000       26.000000      0.0   145.000000
mean        8.538462       10.230769      NaN    12.482759
std        21.083132       25.254398      NaN    74.709075
min         1.000000        1.000000      NaN     1.000000
25%         2.000000        2.500000      NaN     3.000000
50%         3.500000        4.500000      NaN     7.000000
75%         8.000000        8.750000      NaN     9.000000
max       111.000000      133.000000      NaN   905.000000

In [57]:
# Drop blank and GT columns
df = df.drop(["(blank)", "Grand Total"], axis=1)

# Drop blank and GT from User row
df = df.set_index("User")
df = df.drop(["(blank)", "Grand Total"], axis=0)


print(df.shape)
print(df.describe())
df.tail()

(144, 6)
       Bad Samaritan  Avengers: Infinity War   Rampage  Truth or Dare  \
count      24.000000               24.000000  25.00000      25.000000
mean        7.666667                7.083333   7.88000       4.400000
std         1.340560                3.475588   2.69753       2.397916
min         4.000000                1.000000   1.00000       1.000000
25%         7.000000                4.000000   7.00000       2.000000
50%         8.000000                9.000000   9.00000       4.000000
75%         8.250000               10.000000  10.00000       7.000000
max        10.000000               10.000000  10.00000       8.000000

       Incredibles 2  A Star Is Born
count      25.000000       25.000000
mean        4.440000        5.320000
std         2.844293        3.350622
min         1.000000        1.000000
25%         2.000000        2.000000
50%         3.000000        4.000000
75%         8.000000        8.000000
max         8.000000       10.000000

,Bad Samaritan,Avengers: Infinity War,Rampage,Truth or Dare,Incredibles 2,A Star Is Born
User,,,,,,
vacantskies00,NaN,NaN,NaN,5.0,NaN,NaN
vengeance20,NaN,NaN,NaN,NaN,8.0,NaN
ventourisspyros-68672,NaN,NaN,NaN,NaN,NaN,10.0
vhinzajhltb,9.0,NaN,NaN,NaN,NaN,NaN
viraltux,NaN,NaN,NaN,NaN,NaN,4.0

## RSME 
*  Using your training data, calculate the raw average (mean) rating for every user-item combination. 
*  Calculate the RMSE for raw average for both your training data and your test data.
*  Using your training data, calculate the bias for each user and each item.
*  From the raw average, and the appropriate user and item biases, calculate the baseline predictors for every user-item combination. 
*  Calculate the RMSE for the baseline predictors for both your training data and your test data.

## Summary 
*  Summarize your results